.ui.progress>.label {
  text-align: left;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 90vh;
  padding: 1em 0em;
}

.ui.inverted.segment {
  background-color: #75BDBF;
}

.ui.inverted.vertical.footer {
  background-color: #3D3D43;
}

.ui.secondary.inverted.pointing.menu {
  border: none;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h3 {
  margin-top: 9.5em
}

.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 4.6em 0em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 2em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 2.5em 0em;
}

.footer.vertical:first-child {
  background-color: #3D3D43;
}

.footer.vertical:nth-child(2) {
  background-color: #2F2F33;
  color: white;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.button.primary {
  background-color: #F75565;
}

.ui.primary.button:hover {
  background-color: white;
  border: 2px solid #F75565;
  color: #F75565;
}

.ui.progress:first-child {
  margin: 0 0 3.5em;
}

.ui.progress {
  margin: 1em 0 3.5em;
}

/* i.icon,
i.icons {
  font-size: 1.3em;
} */

/* Mis clases */

.ui .grid .case-study {
  margin-top: 8em;
  margin-bottom: 4em;
  margin-right: 2em;
  margin-left: 2em;
}

.tags a.tag {
  margin-right: 20px;
  margin-top: 20px;
}

.buttons .ui.button {
  margin-top: 40px;
  margin-right: 15px;
}

.ui.button.btn-github {
  background-color: #40C7CA;
  color: white;
}

.center-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-y.contact {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.ui.progress .bar-html {
  background-color: #2DCDE3;
}

.ui.progress .bar-css {
  background-color: #49AFEA;
}

.ui.progress .bar-js {
  background-color: #16D399;
}

.ui.progress .bar-jquery {
  background-color: #FE7587;
}

.ui.progress .bar-git {
  background-color: #FFA87D;
}

.ui.progress .bar-sketch {
  background-color: #5075E0;
}

.ui.ui.progress .bar-bootstrap {
  background-color: #1C3259;
}

h2.ui.horizontal.header.divider {
  color: #FE7587
}

.gray {
  background-color: rgba(231, 235, 239, 0.35);
}

.profile {
  float: right;
  margin-right: 3em;
}

.profile img {
  margin-bottom: 1em;
}

.contact i.icon {
  font-size: 2.1rem;
  margin-right: 3rem;
  color: #76BDC0;
}

.ui.button.social {
  padding: 20px 18px;
  margin-right: 30px;
  border: solid 2px white;
  background-color: #75bdbf;
}

.ui.button.social:hover {
  background-color: white
}

.ui.button.social:hover i.icon {
  color: #75bdbf;
}

.ui.button.social i.icon {
  padding-top: 5px;
  font-size: 2em;
  color: white;
}

.justify-text {
  text-align: justify;
  padding: 0 15px;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1em;
  }
  .masthead h2 {
    margin-top: 1em;
    font-size: 1.2em;
  }
  .masthead h3 {
    margin-top: 2em;
  }
}